456.txt
/GitApplication/.vs/GitApplication/v14/.suo
/GitApplication/GitApplication/bin/Debug/GitApplication.vshost.exe
/GitApplication/GitApplication/bin/Debug/GitApplication.vshost.exe.config
/GitApplication/GitApplication/bin/Debug/GitApplication.vshost.exe.manifest
/GitApplication/GitApplication/obj/Debug/GitApplication.csproj.FileListAbsolute.txt
/GitApplication/GitApplication/obj/Debug
/GitApplication/GitApplication/bin/Debug/GitApplication.exe.config
